#prof
	id = 1
	name = Davtyan Sh.
#end

#prof
	id = 2
	name = Galstyan A.
#end

#prof
	id = 3
	name = Osipyan A.
#end

#prof
	id = 4
	name = Mnacakanyan
#end

#prof
	id = 5
	name = Sahakyan G.
#end

#prof
	id = 6
	name = Arstamyan V.
#end

#prof
	id = 7
	name = Manasyan V.
#end

#prof
	id = 8
	name = Ericyan S.
#end

#prof
	id = 9
	name = Zaqaryan Gh.
#end

#prof
	id = 10
	name = Harutyunyan A.
#end

#prof
	id = 11
	name = Ohanyan A.
#end

#prof
	id = 12
	name = Grigoryan A.
#end

#prof
	id = 13
	name = Poxosyan A.
#end

#course
	id = 1
	name = Komp. Cancer
#end

#course
	id = 2
	name = Grafneri tesutyun
#end

#course
	id = 3
	name = Kombinator algorithmner
#end

#course
	id = 4
	name = GUI cragravorum
#end

#course
	id = 5
	name = Discrete Mathematic
#end

#course
	id = 6
	name = EHM ev crag.
#end

#course
	id = 7
	name = Lisp
#end

#course
	id = 8
	name = Assembler
#end

#course
	id = 9
	name = Tvayin Metodner
#end

#course
	id = 10
	name = Optimizacman met.
#end

#course
	id = 11
	name = Mat. Kibernetika
#end

#room
	name = R48
	lab = false
	size = 24
#end

#room
	name = R53
	lab = true
	size = 60
#end

#room
	name = R50
	lab = true
	size = 60
#end

#room
	name = R13
	lab = true
	size = 60
#end

#group
	id = 1
	name = KM/1
	size = 19
#end

#group
	id = 2
	name = KM/2
	size = 19
#end

#group
	id = 3
	name = KM/3
	size = 19
#end

#group
	id = 4
	name = KM/4
	size = 19
#end

#class
	professor = 8
	course = 6
	duration = 1
	group = 1
#end

#class
	professor = 4
	course = 6
	duration = 1
	group = 1
#end

#class
	professor = 4
	course = 6
	duration = 1
	group = 1
	lab = true
#end

#class
	professor = 4
	course = 6
	duration = 1
	group = 1
	lab = true
#end

#class
	professor = 3
	course = 5
	duration = 1
	group = 1
#end

#class
	professor = 3
	course = 5
	duration = 1
	group = 1
#end

#class
	professor = 10
	course = 8
	duration = 1
	group = 2
	lab = true
#end

#class
	professor = 10
	course = 8
	duration = 1
	group = 2
#end

#class
	professor = 4
	course = 4
	duration = 2
	group = 2
	lab = true
#end

#class
	professor = 3
	course = 2
	duration = 1
	group = 2
#end

#class
	professor = 7
	course = 9
	duration = 1
	group = 3
#end

#class
	professor = 7
	course = 9
	duration = 1
	group = 3
#end

#class
	professor = 7
	course = 9
	duration = 1
	group = 3
#end

#class
	professor = 5
	course = 7
	duration = 2
	group = 3
	lab = true
#end

#class
	professor = 3
	course = 3
	duration = 1
	group = 3
#end

#class
	professor = 3
	course = 3
	duration = 1
	group = 3
#end

#class
	professor = 9
	course = 10
	duration = 2
	group = 4
#end

#class
	professor = 9
	course = 10
	duration = 1
	group = 4
#end

#class
	professor = 2
	course = 1
	duration = 1
	group = 4
#end

#class
	professor = 2
	course = 1
	duration = 1
	group = 4
	lab = true
#end

#class
	professor = 7
	course = 11
	duration = 1
	group = 4
#end

#class
	professor = 7
	course = 11
	duration = 1
	group = 4
#end